@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e1e1e1;
    min-height: 100vh;
    width: 100vw;
}

nav {
    align-items: center;
    background: #2c2c2c;
    color: #e1e1e1;
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: center;
    margin: 0;
    width: 100%;
}

nav h1 {
    font-size: 2em;
    letter-spacing: .2em;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

nav p {
    font-size: 1em;
}