@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f7f7fa;
    color: #0A0A0A;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

header {
    align-items: center;
    background: #2c2c2c;
    color: #e1e1e1;
    display: flex;
    flex-direction: column;
    height: 12vh;
    justify-content: center;
    margin: 0;
    width: 100%;
}

header h1 {
    font-size: 2em;
    letter-spacing: .2em;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.displaydate {
    font-size: 12px;
    color: #e1e1e1;
    padding: 5px;
    font-family: 'Roboto Slab', serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 90vw;
    height: auto;
    background: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.144);
    border-radius: 3px;
    line-height: 1.4em;
}

.authorimage {
    width: 75px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.288);
}


.articletitle {
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
}

.articlepublished {
    font-style: italic;
    font-size: 12px;
}

.likeswrapper {
    display: flex;
    flex-direction: row;
}

.likeicon {
    height: 12px;
    width: 12px;
    margin-top: 5px;
    margin-right: 5px;
    transition: 400ms ease-in-out;
}

.likeicon:hover {
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;
}

.likes {
    font-size: 12px;
    margin-bottom: 20px;
}

.imagewrapper {
    display: flex;
    justify-content: center;
}

.articleimage {
    width: 50%;
    margin-bottom: 20px;
}

.articlecontent {
    margin-bottom: 40px;
    font-size: 12px;
}

.articlefooter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    background: rgb(247, 246, 246);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 20px 0 -20px -20px;
}

.authorheadshot {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.authorname {
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
}

@media only screen and (min-width: 1200px) {
    .imagewrapper {
        display: flex;
        justify-content: flex-start;
    }

    .articleimage {
        width: 30vw;
        height: 25%;
        margin-bottom: 20px;
    }

    .article {
        width: 70vw;
    }
}